.app  {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.flex-row {
  flex-direction: row !important; }

.align-items-center {
  align-items: center !important; }

.app-body {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  overflow-x: hidden; }
.app-body .main {
  flex: 1; }
.app-body .sidebar {
  flex: 0 0 220px;
  order: -1; }
.app-body .aside-menu {
  flex: 0 0 250px; }
