



  <div class="input-group">
    <span class="input-group-btn">
      <button type="button" class="btn btn-primary">门店地区</button>
    </span>


    <select name="province" [(ngModel)]="province" class="form-control" (change)="provinceChange()"><!--(change)="provinceChange($event.target.value)" -->
      <option value="">--请选择省份--</option>
      <option *ngFor="let item of provinceData" value="{{item.code}}">{{item.name}}</option>
    </select>


    <select name="province" [(ngModel)]="city" class="form-control"  (change)="cityChange()">
      <option value="">--请选择市--</option>
      <option *ngFor="let item of cityData" value="{{item.code}}">{{item.name}}</option>
    </select>


    <select name="province" [(ngModel)]="country" class="form-control"  (change)="countryChange()">
      <option value="">--请选择区县--</option>
      <option *ngFor="let item of countryData" value="{{item.code}}">{{item.name}}</option>
    </select>
  </div>
