<app-alert [message]="alertMessage" [type]="alertType" [number]="alertNumber"></app-alert>
<app-mask [showModal]="showModal"></app-mask>

<div class="card">
  <div class="card-header">
    <strong>搜索条件</strong>
  </div>
  <div class="card-block">
    <div class="search-left">
      <div class="form-group row">
        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-btn">
              <button type="button" class="btn btn-primary">查询时间<span>*</span></button>
            </span>
            <p-calendar [(ngModel)]="startTime" class="prime-no-mask form-control time-prime" showTime="true" placeholder="请选择开始时间" dateFormat="yy-mm-dd" [locale]="zh" [maxDate]="endTime"></p-calendar>
            <button type="button" class="btn btn-default" >至</button>
            <p-calendar [(ngModel)]="endTime" class="prime-no-mask form-control time-prime" showTime="true" placeholder="请选择结束时间" dateFormat="yy-mm-dd" [locale]="zh" [minDate]="startTime"></p-calendar>
          </div>
        </div>
      </div>
    </div>


    <div class="search-right">
      <div class="form-group row">
        <div class="col-sm-12">
          <button class="btn btn-primary" type="button" (click)="getSellerList()">筛选</button>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <button class="btn btn-primary" type="button" (click)="downloadTable()">导出列表</button>
        </div>
      </div>
    </div>
    <!--</form>-->
  </div>

</div>

<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-block">
          <!--<table class="table table-bordered" id="checkboxTable" appTableCheckbox-->
          <!--(onChecked)="getCheckedIndexList($event)">-->
          <table class="table table-bordered">
            <thead>
            <tr>
              <!--<th class="col-sm-1 align-items-center"><input type="checkbox" /></th>-->
              <th>来电</th>
              <th>核身通过</th>
              <th>核身失败</th>
              <th>本期还款金额查询</th>
              <th>下期还款金额查询</th>
              <th>结算金额查询</th>
              <th>一级核身失败</th>
              <th>二级核身失败</th>
              <th>三级核身失败</th>
              <!--<th>操作</th>-->
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let obj of objs">
              <td>{{obj.incomeNumberCount}}</td>
              <td>{{obj.validateSuccessCount}}</td>
              <td>{{obj.validateFailCount}}</td>
              <td>{{obj.thisPeriodPayCount}}</td>
              <td>{{obj.nextPeriodPayCount}}</td>
              <td>{{obj.clearPayCount}}</td>
              <td>{{obj.firstValidateFailCount}}</td>
              <td>{{obj.secondValidateFailCount}}</td>
              <td>{{obj.thirdValidateFailCount}}</td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>








