<header class="app-header navbar">
    <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
    <a class="navbar-brand" href="#"></a>
    <ul class="nav navbar-nav mr-auto d-md-down-none">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" href="#" appSidebarToggler>&#9776;</a>
        </li>
    </ul>
  <ul class="nav navbar-nav ml-auto" style="margin-right: 30px;">
    <li>
      <a href="javaScript:void(0)" style="text-decoration:none; color:#333" (click)="layout()">
        <span class="icon-logout"></span>&nbsp;退出
      </a>
    </li>
  </ul>

</header>

<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link"  [routerLink]="['/content']"><i class="icon-home"></i> 总览</a>
                </li>
                <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
                  <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-puzzle"></i>镜像中心</a>
                  <ul class="nav-dropdown-items">
                    <li class="nav-item">
                      <a class="nav-link" routerLinkActive="active" [routerLink]="['/content/mymirror']"><i class="icon-star"></i>我的镜像</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLinkActive="active" [routerLink]="['/content/basemirror']" ><i class="icon-star"></i>基础镜像</a>
                    </li>
                  </ul>
                </li>
              <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
                <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-puzzle"></i>集群中心</a>
                <ul class="nav-dropdown-items">
                  <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/content/configmanager']"><i class="icon-star"></i>配置管理</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/content/mycluster']" ><i class="icon-star"></i>我的集群</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/content/loadbalance']" ><i class="icon-star"></i>负载均衡</a>
                  </li>

                </ul>
              </li>
              <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
                <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-puzzle"></i>服务中心</a>
                <ul class="nav-dropdown-items">
                  <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/content/sellerList']"><i class="icon-star"></i>我的服务</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/content/phoneDetails']" ><i class="icon-star"></i>平台服务</a>
                  </li>
                </ul>
              </li>
            </ul>
        </nav>
    </div>

    <!-- Main content -->
    <main class="main">
            <router-outlet></router-outlet>
    </main>
</div>

<footer class="app-footer">
    <a href="http://www.fenqi.im/" target="_blank">HoneyWell</a> &copy; 2017 有限公司
    <span class="float-right">Powered by <a href="" target="_blank">HoneyWell</a>
    </span>
</footer>
