<div class="app flex-row align-items-center">

  <div class="app-body">


    <!-- Main content -->
    <main class="main">

      <!-- Breadcrumb -->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">镜像中心</li>
        <li class="breadcrumb-item active">我的镜像</li>
      </ol>


      <div class="container-fluid">

        <div class="animated fadeIn">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-block">
                  <a href="deploy-new-cluster.html" class="btn btn-primary">部署新集群</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card card-block">
                <table class="table">
                  <thead>
                  <tr>
                    <th>集群名称</th>
                    <th>配置信息</th>
                    <th>集群规格</th>
                    <th>实例数量</th>
                    <th>状态</th>
                    <th>负载均衡</th>
                    <th>创建时间</th>
                    <th>操作</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>app 10</td>
                    <td>config A</td>
                    <td>1c2g</td>
                    <td>4</td>
                    <td>running</td>
                    <td>外部: xxx.xxx.xxx.xxx <br>内部: xxx.domain.local</td>
                    <td>2017.x.x</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-dribbble icon" style="margin-bottom: 4px">
                        <span>Dribbble</span>
                      </button>
                      <button type="button" class="btn btn-sm btn-dribbble icon" style="margin-bottom: 4px">
                        <span>Dribbble</span>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>app 9</td>
                    <td>config A</td>
                    <td>1c2g</td>
                    <td>4</td>
                    <td>running</td>
                    <td>外部: xxx.xxx.xxx.xxx <br>内部: xxx.domain.local</td>
                    <td>2017.x.x</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-dribbble icon" style="margin-bottom: 4px">
                        <span>Dribbble</span>
                      </button>
                      <button type="button" class="btn btn-sm btn-dribbble icon" style="margin-bottom: 4px">
                        <span>Dribbble</span>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>app 8</td>
                    <td>config A</td>
                    <td>1c2g</td>
                    <td>4</td>
                    <td>running</td>
                    <td>外部: xxx.xxx.xxx.xxx <br>内部: xxx.domain.local</td>
                    <td>2017.x.x</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-dribbble icon" style="margin-bottom: 4px">
                        <span>Dribbble</span>
                      </button>
                      <button type="button" class="btn btn-sm btn-dribbble icon" style="margin-bottom: 4px">
                        <span>Dribbble</span>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>app 7</td>
                    <td>config A</td>
                    <td>1c2g</td>
                    <td>4</td>
                    <td>running</td>
                    <td>外部: xxx.xxx.xxx.xxx <br>内部: xxx.domain.local</td>
                    <td>2017.x.x</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-dribbble icon" style="margin-bottom: 4px">
                        <span>Dribbble</span>
                      </button>
                      <button type="button" class="btn btn-sm btn-dribbble icon" style="margin-bottom: 4px">
                        <span>Dribbble</span>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>app 6</td>
                    <td>config A</td>
                    <td>1c2g</td>
                    <td>4</td>
                    <td>running</td>
                    <td>外部: xxx.xxx.xxx.xxx <br>内部: xxx.domain.local</td>
                    <td>2017.x.x</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-dribbble icon" style="margin-bottom: 4px">
                        <span>Dribbble</span>
                      </button>
                      <button type="button" class="btn btn-sm btn-dribbble icon" style="margin-bottom: 4px">
                        <span>Dribbble</span>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>app 5</td>
                    <td>config A</td>
                    <td>1c2g</td>
                    <td>4</td>
                    <td>running</td>
                    <td>外部: xxx.xxx.xxx.xxx <br>内部: xxx.domain.local</td>
                    <td>2017.x.x</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-dribbble icon" style="margin-bottom: 4px">
                        <span>Dribbble</span>
                      </button>
                      <button type="button" class="btn btn-sm btn-dribbble icon" style="margin-bottom: 4px">
                        <span>Dribbble</span>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>app 4</td>
                    <td>config A</td>
                    <td>1c2g</td>
                    <td>4</td>
                    <td>running</td>
                    <td>外部: xxx.xxx.xxx.xxx <br>内部: xxx.domain.local</td>
                    <td>2017.x.x</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-dribbble icon" style="margin-bottom: 4px">
                        <span>Dribbble</span>
                      </button>
                      <button type="button" class="btn btn-sm btn-dribbble icon" style="margin-bottom: 4px">
                        <span>Dribbble</span>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>app 3</td>
                    <td>config A</td>
                    <td>1c2g</td>
                    <td>4</td>
                    <td>running</td>
                    <td>外部: xxx.xxx.xxx.xxx <br>内部: xxx.domain.local</td>
                    <td>2017.x.x</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-dribbble icon" style="margin-bottom: 4px">
                        <span>Dribbble</span>
                      </button>
                      <button type="button" class="btn btn-sm btn-dribbble icon" style="margin-bottom: 4px">
                        <span>Dribbble</span>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>app 2</td>
                    <td>config A</td>
                    <td>1c2g</td>
                    <td>4</td>
                    <td>running</td>
                    <td>外部: xxx.xxx.xxx.xxx <br>内部: xxx.domain.local</td>
                    <td>2017.x.x</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-dribbble icon" style="margin-bottom: 4px">
                        <span>Dribbble</span>
                      </button>
                      <button type="button" class="btn btn-sm btn-dribbble icon" style="margin-bottom: 4px">
                        <span>Dribbble</span>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>app 1</td>
                    <td>config A</td>
                    <td>1c2g</td>
                    <td>4</td>
                    <td>running</td>
                    <td>外部: xxx.xxx.xxx.xxx <br>内部: xxx.domain.local</td>
                    <td>2017.x.x</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-dribbble icon" style="margin-bottom: 4px">
                        <span>Dribbble</span>
                      </button>
                      <button type="button" class="btn btn-sm btn-dribbble icon" style="margin-bottom: 4px">
                        <span>Dribbble</span>
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>

                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Prev</a>
                  </li>
                  <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">4</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">Next</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>


        </div>




      </div>
      <!-- /.conainer-fluid -->
    </main>

  </div>

</div>






