<div class="content">
  <div class="first-line">
    <div class="first-line-layout">
      <div class="left">
        <div class="title">Host(Number)</div>
        <!--<div class="text1">{{hostPercent}}</div>-->
        <div class="text2">Total</div>
        <div class="text3">{{hostTotal}}</div>
        <echart *ngIf="hasBarChart"  [chartType]="chart1" class="chart"></echart>


      </div>
      <div class="right">
        <div class="text-up">
          {{hostCur}}
        </div>
        <!--<div class="text-down">-->
          <!--Set-->
        <!--</div>-->
      </div>
    </div>

    <div class="first-line-layout">
      <div class="left">
        <div class="title">CPU(Core)</div>
        <!--<div class="text1">{{cpuPercent}}</div>-->
        <div class="text2">Total</div>
        <div class="text3">{{cpuTotal}}</div>
        <echart *ngIf="hasBarChart"  [chartType]="chart2" class="chart"></echart>
      </div>
      <div class="right">
        <div class="text-up">
          {{cpuCur}}
        </div>
        <!--<div class="text-down">-->
          <!--Core-->
        <!--</div>-->
      </div>
    </div>

    <div class="first-line-layout">
      <div class="left">
        <div class="title">Memory(GB)</div>
        <!-- <div class="text1">{{memoryPercent}}</div> -->
        <div class="text2">Total</div>
        <div class="text3">{{memoryTotal}}</div>
        <echart *ngIf="hasBarChart"  [chartType]="chart3" class="chart"></echart>
      </div>
      <div class="right">
        <div class="text-up">
          {{memoryCur}}
        </div>
        <!--<div class="text-down">-->
          <!--B-->
        <!--</div>-->
      </div>
    </div>
  </div>


  <div class="bottom">
    <div class="bottom-left-layout">
      <div class="title">Page Visit</div>
      <div class="title2">Today</div>
      <div class="bottom-left-layout1">
        <div class="today-data-volumn">{{pageVisit}}</div>
        <div class="data-pcs">Page</div>
      </div>
      <div class="bottom-left-layout2">
        <div class="title3">Recent One Month</div>
        <echart *ngIf="hasLineChart"  [chartType]="chart4" class="chart"></echart>
      </div>
    </div>e
    <div class="bottom-right-layout">
      <div class="title">Data Volume</div>
      <div class="data-volumn">{{dataVolumn}}</div>
      <div class="data-pcs">GB</div>
    </div>
  </div>
</div>
