.content{
  margin-left: 0.1rem;
}

.first-line{
  overflow:hidden;
}

.first-line-layout{
  margin-right: 0.1rem;
  width:6.13rem;
  height:4.3rem;
  overflow:hidden;
  background:#404040;
  float:left;
}

.first-line-layout .left{
  width:3.10rem;
  height:4.3rem;
  float:left;
  overflow:hidden;
  position: relative;
}

.first-line-layout .left .text1{
  font-weight:normal;
  font-size:0.26rem;
  color:#9d9d9d;
  padding-left: 1.2rem;
  padding-top: 0.9rem;
  position: absolute;
}

.first-line-layout .left .text2{
  font-weight:normal;
  font-size:0.2rem;
  color:#9d9d9d;
  padding-top: 3.05rem;
  position: absolute;
  transform: translate(-50%,0);
  left: 50%;
}

.first-line-layout .left .text3{
  font-weight:normal;
  font-size:0.2rem;
  color:#9d9d9d;
  padding-top: 3.35rem;
  position: absolute;
  transform: translate(-50%,0);
  left: 50%;
}

.first-line-layout .right{
  width:3rem;
  height:4.3rem;
  float:left;
}

.first-line-layout .right .text-up{
  font-weight: normal;
  font-size: 0.52rem;
  color: #fff;
  margin-top: 1.9rem;
  text-align: center;
}

.first-line-layout .right .text-down{
  font-weight: normal;
  font-size: 0.3rem;
  color: #9d9d9d;
  margin-top: 0.05rem;
  text-align: center;
}

.title{
  font-weight:normal;
  font-size:0.22rem;
  color:#fff;
  padding-left: 0.1rem;
  padding-top: 0.1rem;
}

.title2{
  position: absolute;
  font-weight:normal;
  font-size:0.2rem;
  color: #9d9d9d;
  padding-left: 2.2rem;
  padding-top: 0.65rem;
  z-index: 2;
}

.title3{
  position: absolute;
  font-weight:normal;
  font-size:0.2rem;
  color: #9d9d9d;
  padding-top: 0.5rem;
  position: absolute;
  left:50%;
  transform: translate(-50%,0);
}

.chart{
  width:100%;
  height:100%;
  display: block;
}



.bottom-left-layout{
  width:13.1rem;
  height:5.3rem;
  overflow:hidden;
  margin-top: 0.1rem;
  margin-right: 0.1rem;
  background:#404040;
  float:left;
}

.bottom-right-layout{
  width:5.4rem;
  height:5.3rem;
  overflow:hidden;
  background:#404040;
  float:left;
  margin-top: 0.1rem;
  margin-right: 0.1rem;
  position: relative;
}

.bottom-left-layout1{
  width:5rem;
  height:5.3rem;
  overflow:hidden;
  float:left;
  background:#404040;
  position: relative;
}

.bottom-left-layout2{
  width:8rem;
  height:5.3rem;
  overflow:hidden;
  float:left;
  background:#404040;
  position: relative;
}

.data-volumn{
  width: 3.28rem;
  height: 3.28rem;
  left: 21%;
  top: 10%;
  position: relative;
  background-color: #1792E5;
  border-radius:1.09rem 0 1.09rem 0;
  text-align: center;
  overflow:hidden;
  line-height: 3.28rem;
  color: #fff;
  font-size: 0.5rem;
}

.today-data-volumn{
  width: 2.75rem;
  height: 2.75rem;
  left: 22.5%;
  top: 23%;
  position: relative;
  background-color: #1792E5;
  border-radius:0.91rem 0 0.91rem 0;
  text-align: center;
  overflow:hidden;
  line-height: 2.75rem;
  color: #fff;
  font-size: 0.5rem;
}

.today-data-volumn2{
  position: relative;
  text-align: center;
  overflow:hidden;
  color: #2b6481;
}

.data-volumn2{
  position: relative;
  text-align: center;
  overflow:hidden;
  color: #2b6481;
}
.data-pcs{
  position: absolute;
  left: 50%;
  top: 55%;
  font-size: 0.3rem;
  transform: translate(-50%,0);
  color: #2b6481;
}

.today-data-volumn2{
  position: relative;
  text-align: center;
  overflow:hidden;
  color: #2b6481;
}

.data-volumn2{
  position: relative;
  text-align: center;
  overflow:hidden;
  color: #2b6481;
}
