<div class="app flex-row align-items-center">


  <div class="app-body">


    <!-- Main content -->
    <main class="main">

      <!-- Breadcrumb -->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">镜像中心</li>
        <li class="breadcrumb-item active">基础镜像</li>
      </ol>


      <div class="container-fluid">

        <div class="animated fadeIn">
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-expanded="true">通用镜像</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-expanded="false">JDK镜像</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-expanded="false">其他镜像</a>
                </li>
              </ul>

              <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel" aria-expanded="true">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>镜像名称</th>
                      <th>操作系统</th>
                      <th>类型</th>
                      <th>创建时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>centos 6.x 64</td>
                      <td>centos 6.x 64</td>
                      <td>通用镜像</td>
                      <td>xxx.xxx.xxx</td>
                    </tr>
                    <tr>
                      <td>centos 6.x 64</td>
                      <td>centos 6.x 64</td>
                      <td>通用镜像</td>
                      <td>xxx.xxx.xxx</td>
                    </tr>
                    <tr>
                      <td>centos 6.x 64</td>
                      <td>centos 6.x 64</td>
                      <td>通用镜像</td>
                      <td>xxx.xxx.xxx</td>
                    </tr>
                    <tr>
                      <td>centos 6.x 64</td>
                      <td>centos 6.x 64</td>
                      <td>通用镜像</td>
                      <td>xxx.xxx.xxx</td>
                    </tr>
                    <tr>
                      <td>centos 6.x 64</td>
                      <td>centos 6.x 64</td>
                      <td>通用镜像</td>
                      <td>xxx.xxx.xxx</td>
                    </tr>
                    <tr>
                      <td>debian 6.x 64</td>
                      <td>debian 6.x 64</td>
                      <td>通用镜像</td>
                      <td>xxx.xxx.xxx</td>
                    </tr>
                    <tr>
                      <td>ubuntu 6.x 64</td>
                      <td>ubuntu 6.x 64</td>
                      <td>通用镜像</td>
                      <td>xxx.xxx.xxx</td>
                    </tr>
                    </tbody>
                  </table>

                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Prev</a>
                    </li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">4</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">Next</a>
                    </li>
                  </ul>
                </div>
                <div class="tab-pane" id="profile" role="tabpanel" aria-expanded="false">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>镜像名称</th>
                      <th>操作系统</th>
                      <th>JDK版本</th>
                      <th>类型</th>
                      <th>创建时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>centos 6.x 64</td>
                      <td>centos 6.x 64</td>
                      <td>6</td>
                      <td>JDK镜像</td>
                      <td>xxx.xxx.xxx</td>
                    </tr>
                    <tr>
                      <td>centos 7.x 64</td>
                      <td>centos 7.x 64</td>
                      <td>6</td>
                      <td>JDK镜像</td>
                      <td>xxx.xxx.xxx</td>
                    </tr>
                    <tr>
                      <td>debian 6.x 64</td>
                      <td>debian 6.x 64</td>
                      <td>6</td>
                      <td>JDK镜像</td>
                      <td>xxx.xxx.xxx</td>
                    </tr>
                    <tr>
                      <td>ubuntu 6.x 64</td>
                      <td>ubuntu 6.x 64</td>
                      <td>6</td>
                      <td>JDK镜像</td>
                      <td>xxx.xxx.xxx</td>
                    </tr>
                    <tr>
                      <td>centos 6.x 64</td>
                      <td>centos 6.x 64</td>
                      <td>8</td>
                      <td>JDK镜像</td>
                      <td>xxx.xxx.xxx</td>
                    </tr>
                    <tr>
                      <td>centos 7.x 64</td>
                      <td>centos 7.x 64</td>
                      <td>8</td>
                      <td>JDK镜像</td>
                      <td>xxx.xxx.xxx</td>
                    </tr>
                    <tr>
                      <td>debian 6.x 64</td>
                      <td>debian 6.x 64</td>
                      <td>8</td>
                      <td>JDK镜像</td>
                      <td>xxx.xxx.xxx</td>
                    </tr>
                    <tr>
                      <td>ubuntu 6.x 64</td>
                      <td>ubuntu 6.x 64</td>
                      <td>8</td>
                      <td>JDK镜像</td>
                      <td>xxx.xxx.xxx</td>
                    </tr>
                    </tbody>
                  </table>

                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Prev</a>
                    </li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">4</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">Next</a>
                    </li>
                  </ul>
                </div>
                <div class="tab-pane" id="messages" role="tabpanel" aria-expanded="false">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>镜像名称</th>
                      <th>操作系统</th>
                      <th>类型</th>
                      <th>创建时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>centos 6.x 64 with nginx</td>
                      <td>centos 6.x 64</td>
                      <td>其他镜像</td>
                      <td>xxx.xxx.xxx</td>
                    </tr>
                    <tr>
                      <td>centos 6.x 64 with ssh</td>
                      <td>centos 6.x 64</td>
                      <td>其他镜像</td>
                      <td>xxx.xxx.xxx</td>
                    </tr>
                    <tr>
                      <td>centos 6.x 64 with scp</td>
                      <td>centos 6.x 64</td>
                      <td>其他镜像</td>
                      <td>xxx.xxx.xxx</td>
                    </tr>

                    </tbody>
                  </table>

                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Prev</a>
                    </li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">4</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">Next</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
          </div>

        </div>




      </div>
      <!-- /.conainer-fluid -->
    </main>

  </div>


</div>






