// Here you can add other styles
.warning{
  background: yellow;
}

/**
  primeNG标签非单独使用，加上以下样式
 */
.prime-no-mask{
  z-index:3 !important;
}

.time-prime{
  padding: 0;
}

.time-prime span{
  width: 100%;
}

.time-prime input{
  width: 100%;
  border: 0;
}

/**
搜索条件左右分结构
 */
.search-left{
  width: 90%;float: left
}
.search-right{
  width: 8%;float: right
}

/**
蒙层
 */
.mask{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  position:fixed;
  z-index: 20;
  background: gray;
  /*增加透明度，不要使用opacity:0.5,因为这样做会使背景虚化*/
  background:rgba(0,0,0,0.5)

}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #09d3b1;
  border-bottom: 16px solid #09d3b1;
  width: 150px;
  height: 150px;
  -webkit-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
  text-align: center;
  display: inline-block;
  margin-left: 0;
  margin-top: 10%;
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.text-animation{
  -webkit-animation: unSpin 4s linear infinite;
  animation: unSpin 4s linear infinite;
  line-height: 118px
}

@keyframes unSpin {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}

.text-center{
  text-align: center
}

/**
提示样式
 */
.alert-bar{
  position: fixed;
  top:0;
  right: 0;
  left: 0;
  opacity: 0.9;
  z-index: 5;
  text-align: center;
}
