.chart{
  width:100%;
  height:100%;
  float:left;
}

.title{
  position: absolute;
  font-weight:normal;
  font-size:0.22rem;
  color:#f0f0f0;
  padding-left: 0.2rem;
  padding-top: 0.1rem;
  z-index: 999;
  font-family:HoneywellSans-Extrabold;
}

.user-layout{
  margin-right: 0.1rem;
  height:6.5rem;
  overflow:hidden;
  background:#404040;
  float:left;
  position: relative;
}

.left-user{
  width:3.5rem;
  height: 3rem;
  margin-bottom: 0.05rem;
  overflow:hidden;
  background:#404040;
  float:left;
  position: relative;
  .right-info{
    position: absolute;
    width: 50%;
    right: 0.2rem;
    top: 45.5%;
    height: 1rem;
    text-align: center;
    .txt{
      font-size: 0.2rem;
      color: #c0c0c0;
      font-family:HoneywellSans-Bold;
    }
    .num{
      color:#fff;
      font-size: 0.46rem;
      font-family:HoneywellCondWeb-Extrabold;
    }
  }
}

.content{
  margin-left: 0.1rem;
}

.content .left{
  width:3.5rem;
}


.content .center{
  width:9rem;
}

.content .right{
  width:6rem;
}

.active-user{
  height: 3.3rem;
  border-bottom: 0.1rem solid #202020;
}

.active-user2{
  height: 3.3rem;
}

.content .bottom{
  background:#404040;
}

.content .bottom .bottom-layout{
  width: 4.65rem;
  height:3.1rem;
  overflow:hidden;
  display: inline-block;
  background:#404040;
  float:left;
  margin-top: 0.1rem;
  position: relative;
}
.content .bottom .bottom-layout:nth-child(2){
  margin-right: 0.1rem;
}
.content .bottom .bottom-divider{
  width: 1px;
  height: 2.69rem;
  background-color: #808080;
  position: absolute;
  right: 0;
  top: 0.2rem;
}
.left_1{
  width:100%;
  height: 6.5rem;
  background:#404040;
  overflow:hidden;
  margin-bottom:0.1rem;
}

.left_1_cont {
  width:100%;
}
.left_1_cont ul li{

  text-align:center;

  color:#fff;
}

.left_1_cont ul li em{
  font-style:normal;
  font-size:0.2rem;
  display:block;
  margin-top:0.1rem;
  margin-bottom:0.1rem;
}
.left_1_cont ul li span{
  font-size:0.54rem;
  font-weight:bold;
  margin-bottom:0.1rem;
  display:block;
}
.left_1_cont ul li img{
  width:1.2rem;
  height:1.2rem;
}

.radio-wrapper{
  text-align: center;
  margin-top: 0.15rem;
}
.radio-icon{
  width: 0.24rem;
  height: 0.24rem;
  border-radius: 50%;
  border: 1px solid #FAFAFA;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.08rem;
  cursor: pointer;
}
.radio-checked{
  &:after{
    content: '';
    background: #45a8ea;
    width: 0.13rem;
    height: 0.13rem;
    display: block;
    border-radius: 50%;
    position: relative;
    top: 0.04rem;
    left: 0.04rem;
  }
}
.radio-txt{
  margin-right: 0.1rem;
  font-size: 0.17rem;
  color: #c0c0c0;
  vertical-align: middle;
  position: relative;
  top: 0.02rem;
  font-family:HoneywellSans-Bold;
}
.checkbox-wrapper{
  color: #C0C0C0;
  position: absolute;
  top: 0.6rem;
  font-size: 0.2rem;
  left: 0.1rem;
  z-index: 9999;
}
.echarts-head{
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translate(-50%,0);
  top: 12%;
  text-align: center;
  .txt{
    font-size: 0.2rem;
    color:#c0c0c0;
    font-family:HoneywellSans-Bold;
  }
  .num{
    font-size: 0.46rem;
    color:#fff;
    font-family:HoneywellCondWeb-Extrabold;
  }
  .amount{
    margin-top: 6%;
    font-size: 0.46rem;
    color:#fff;
    font-family:HoneywellSans-Bold;
  }
  .currency{
    font-size: 0.3rem;
    color:#c0c0c0;
    margin-left: 0.3rem;
    font-family:HoneywellSans-Bold;
  }
}
